.tabs{
    display: flex;
    margin-bottom: 20px;
}

.tab:first-child{
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}

.tab:last-child{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


.tab{
    width: 168px;
height: 50px;
background: #FFFFFF;
letter-spacing: 0.5px;
text-transform: uppercase;

border: 1px solid #DFE5EC;
}

.ant-typography{
    font-size: 12px;
    font-weight: 600;
}
.active{
    background: #2196F3;
}
.active .ant-typography {
   
    color: #FFFFFF;
}
