body{
    background-color: #F1FCFF;
}
button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }
.container{
    padding: 50px 103px;
   
}

.main{
    display: flex;
    justify-content: center;
    gap:20px;
}