
body{
    background-color: #F1FCFF;
}
button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }

  button:hover, button:focus{
    cursor: pointer;
  }
  @media (min-width: 800px ) {
    .container{
        padding: 50px 103px;
    }
    .main{
      display: flex;
      justify-content: center;
      gap:20px;
    }
  }
  @media (max-width: 800px ) {
    .container{
        padding: 5px;
    }
    .main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap:20px;
    }
  }


