$color_1:#F1FCFF;

body {
	background-color: $color_1;
}
button {
	&:active {
		outline: none;
	}
	&:focus {
		outline: none;
		cursor: pointer;
	}
	&::-moz-focus-inner {
		border: 0;
	}
	&:hover {
		cursor: pointer;
	}
}
@media (min-width: 800px ) {
	.container {
		padding: 50px 103px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.content{
		display: flex;
		gap: 20px;

	}
	.main {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}
@media (max-width: 800px ) {
	.container {
		padding: 5px;
	}
	.main {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}
